.options{
    margin: 50px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;

    .option{
        height: 120px;
        width: 100px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        h3{
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
            border-bottom: 1px solid black;
        }
        .sample{
            position: relative;
            height: 65%;
            width: 75%;
            border: 1px solid black;
        }
        .inset{
            clip-path: inset(10%);
            background-color: orange;
        }
        .circle{
            clip-path: circle(40%);
            background-color: orange;
        }
        .ellipse{
            clip-path: ellipse(20% 40%);
            background-color: orange;

        }
        .polygon{
            clip-path: polygon(50% 15%, 90% 48%, 72% 90%, 28% 90%, 10% 48%);
            background-color: orange;
        }
        .path{
            clip-path: path('M 20 20 L 20 50 L 35 60 Z');
            background-color: orange;
        }
        .rect{
            clip-path: rect();
            background-color: orange;
        }
        .xywh{
            clip-path: xywh();
            background-color: orange;
        }
        .shape{
            clip-path: shape();
            background-color: orange;
        }
    }
    :hover{
        background-color: rgba($color: darkgray, $alpha: 0.5);
    }
}