.definition{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba($color: black, $alpha: 0.6);
    color: rgba($color: orange, $alpha: 0.7);
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 10px;

    button{
        border-radius: 10px;
        margin: 0px 5px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font-family: 'Courier New', Courier, monospace;
        color: rgba($color: aqua, $alpha: 0.6);
        border-right: 1px solid rgba($color: aqua, $alpha: 0.6);
        border-left: 1px solid rgba($color: aqua, $alpha: 0.6);
    }
    button:not(.selected):hover{
        background-color: rgba($color: aqua, $alpha: 0.1);
    }
    .selected{
        background-color: rgba($color: aqua, $alpha: 0.3);
    }
    
}
.clipSource{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    .source{
        border-radius: 10px;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgba($color: black, $alpha: 0.6);
        color: rgba($color: orange, $alpha: 0.7);
        padding: 10px;
    }

    .options{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .option{
            margin: 0 10px;
        }
    }
}
.options{
    margin: 10px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;

    .option{
        height: 120px;
        width: 100px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        h3{
            width: 100%;
            margin: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid black;
        }
        .sample{
            position: relative;
            height: 65%;
            width: 75%;
            border: 1px solid black;
        }
        .inset{
            clip-path: inset(10%);
            background-color: orange;
        }
        .circle{
            clip-path: circle(40%);
            background-color: orange;
        }
        .ellipse{
            clip-path: ellipse(20% 40%);
            background-color: orange;

        }
        .polygon{
            clip-path: polygon(50% 15%, 90% 48%, 72% 90%, 28% 90%, 10% 48%);
            background-color: orange;
        }
        .path{
            clip-path: path('M 20 20 L 20 50 L 35 60 Z');
            background-color: orange;
        }
        .rect{
            clip-path: rect();
            background-color: orange;
        }
        .xywh{
            clip-path: xywh();
            background-color: orange;
        }
        .shape{
            clip-path: shape();
            background-color: orange;
        }
    }
    .option:hover{
        background-color: rgba($color: darkgray, $alpha: 0.5);
    }
    .option.selected{
        background-color: rgba($color: darkgray, $alpha: 0.5);
    }

    .small{
        height: 20px;
        padding: 10px;
    }
}