header{
    display: flex;
    width: 100%;
    height: 120px;
    border: 1px solid black;
    flex-direction: row;
    align-items: center;

    .logo{
        display: flex;
        flex-direction: row;

        .image{
            position: relative;
            i{
                bottom: 15px;
                right: 15px;
                font-size: 25px;
                position: absolute;
            }
        }
    }

    .content{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }
}