.collapse-btn {
    color: rgba($color: orange, $alpha: 0.7);
    background-color: rgba($color: black, $alpha: 0.7);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom: 2px solid rgba($color: orange, $alpha: 0.7);
    text-transform: uppercase;
}

.collapse-btn::after {
    transition: content 0.25s ease-in;
    content: '	\2B9E';
    float: right;
}

.active::after {
    transition: content 0.25s ease-in;
    content: "	\2B9F";
    float: right;
}

.active,
.collapse-btn:hover {
    transition: background-color 0.25s, border-bottom 0.25s;
    background-color: rgba(black, 0.6);
    border-bottom: 2px solid rgba(orange, 0.5);
}

.content {
    background-color: rgba($color: black, $alpha: 0.3);
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out, padding 0.25s ease-out;
}

.expanded {
    padding: 18px;
    transition: max-height 0.25s ease-out, padding 0.25s ease-out;
    max-height: 100vh;
}