.def-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .compatibility{
        padding: 15px;

        a{
            text-decoration: none;
            color: rgba($color: orange, $alpha: 0.7);
            padding: 10px;
            border: 1px solid black;
            border-radius: 10px;
            transition: background-color 0.15s ease-in;
            background-color: rgba($color: black, $alpha: 0.5);
        }
        :hover{
            transition: background-color 0.15s ease-in;
            background-color: rgba($color: black, $alpha: 0.3);
        }
    }
}
.container{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba($color: black, $alpha: 0.6);
    color: rgba($color: orange, $alpha: 0.7);
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}
.syntax{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;

    button{
        border-radius: 10px;
        margin: 0px 5px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font-family: 'Courier New', Courier, monospace;
        color: rgba($color: aqua, $alpha: 0.6);
        border-right: 1px solid rgba($color: aqua, $alpha: 0.6);
        border-left: 1px solid rgba($color: aqua, $alpha: 0.6);
    }
    button:not(.selected):hover{
        background-color: rgba($color: aqua, $alpha: 0.1);
    }
    .selected{
        background-color: rgba($color: aqua, $alpha: 0.3);
    }
}

.options{
    margin: 50px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;

    .option{
        height: 120px;
        width: 100px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        h3{
            width: 100%;
            margin: 0;
            font-size: 16px;
            margin-bottom: 10px;
            border-bottom: 1px solid black;
        }
        .sample{
            position: relative;
            height: 65%;
            width: 75%;
            border: 1px solid black;
        }
        .blur{
            background-color: purple;
            filter: blur(1px);
        }
        .brightness{
            background-color: purple;
            filter: brightness(0.5);
        }
        .contrast{
            background-color: purple;
            filter: contrast(0.5);
        }
        .drop-shadow{
            background-color: purple;
            filter: drop-shadow(2px 4px 6px black);
        }
        .grayscale{
            background-color: purple;
            filter: grayscale(0.9);
        }
        .hue-rotate{
            background-color: purple;
            filter: hue-rotate(45deg);
        }
        .invert{
            background-color: purple;
            filter: invert(1);
        }
        .opacity{
            background-color: purple;
            filter: opacity(0.2);
        }
        .sepia{
            background-color: purple;
            filter: sepia(1);
        }
        .saturate{
            background-color: purple;
            filter: saturate(0.4);
        }
    }
    :hover{
        background-color: rgba($color: darkgray, $alpha: 0.5);
    }
    .option.selected{
        background-color: rgba($color: darkgray, $alpha: 0.5);
    }
}