.container{
    border: 1px solid black;
    border-radius: 10px;

    button{
        border-radius: 10px;
        margin: 0px 5px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font-family: 'Courier New', Courier, monospace;
        color: rgba($color: aqua, $alpha: 0.6);
        border-right: 1px solid rgba($color: aqua, $alpha: 0.6);
        border-left: 1px solid rgba($color: aqua, $alpha: 0.6);
    }
    button:not(.selected):hover{
        background-color: rgba($color: aqua, $alpha: 0.1);
    }
    .selected{
        background-color: rgba($color: aqua, $alpha: 0.3);
    }
    
    .syntax{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgba($color: black, $alpha: 0.6);
        color: rgba($color: orange, $alpha: 0.7);
        padding: 5px 15px;
    }
    
    .explanation{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid bottom;

        padding: 5px 15px;
    }
}
